<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="Kantipudi_ChandraMouli.css"/>
    <title>Contact</title>
<body>
<ul>
<li><span id="sitename">A03Kantipudi</span></span></li>
<li><a class="active" href="Kantipudi_ChandraMouli">Home</a></li>
<li><a href=Cricket>Cricket</a></li>
<li><a href= "#Contact">Contact</a></li>
<li><a href= "guestbook">GuestBook</a></li>
</ul>
<header><h1 class="header">Contact</h1><header>
<div class="active">
<form method = "post" role="form">
<p>FirstName:  
<input type="text" name="FirstName"><br>
 <br>
Last name:
<input type="text" name="LastName"><br>
 <br>
Email ID :
<input type="text" name="EmailID"><br>
 <br>
Ask me a question:<br>
<textarea name="Askmeaquestion" id="" cols="30" rows="10"></textarea><br>
 <br>
<input type="submit" value="Submit">
<p>
</form>
<div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
