<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="Kantipudi_ChandraMouli.css"/>
<title>Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>
<body>
<ul>
    <li><span id="sitename">A03Kantipudi</span></span></li>	 
    <li><a href="Kantipudi_ChandraMouli">Home</a></li>
    <li><a href= "Cricket">Cricket</a></li>
    <li><a href= "Contact">Contact</a></li>
    <li><a class = "active" href= "#guestbook">GuestBook</a></li>
</ul>
<h1>
Express Guestbook<br>
<a href="/new-entry" class="btn btn-primary">
Write in the guestbook
</a>
</h1>